/* CSS Document */
body{padding:0px; margin:0px; background: color #fff 0 0 repeat-x #fff; color:rgb(153, 153, 153); font:13px/18px Arial, Helvetica, sans-serif;}
div, p, ul, h2, h3, img{padding:0px; margin:0px;}
ul{list-style-type:none;}

/*----TOP PANEL----*/
#topPan{width:1350px; height:200px; position:relative; margin:0 auto; background: 0 0 repeat-x rgb(179, 179, 179); color:rgb(255, 255, 255); padding:0px;}

#topPan p{font-size:40px; padding:70px 0 0 53px;}

#topContactPan{width:159px; height:51px; position:absolute; top:43px; right:240px;}
#topContactPan p.callus{background:rgb(255, 255, 255); color:rgb(255, 255, 255); width:64px; height:14px; line-height:14px; font-size:14px; font-weight:bold; text-transform:uppercase; padding:0px;}
#topContactPan p.no{font-size:26px; padding:4px 0 0;}

#topMenuPan{width:683px; height:10px; position:absolute; bottom:8px; left:490px;}
#topMenuLeftPan{width:69px; height:30px; float:right; background: 0 0 ;}
#topMenuMiddlePan{width:544px; height:30px; float: right;;}

#topMenuMiddlePan ul{width:465px; height:16px;}
#topMenuMiddlePan ul li{width:67 px; height:16px; float: right;;}
#topMenuMiddlePan ul li a{width:67px; height:16px; display:block; color:rgb(29, 145, 240); font:10px/16px "Trebuchet MS",Arial, Helvetica, sans-serif; text-decoration:none; font-weight:bold; text-align:center; text-transform:uppercase;}
#topMenuMiddlePan ul li a:hover{background:rgb(255, 255, 255); color:rgb(29, 145, 240); text-decoration:none;}
#topMenuMiddlePan ul li.home{background:#fff; color:rgb(255, 0, 0); text-decoration:none; font:10px/16px "Trebuchet MS",Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-transform:uppercase;}
#topMenuMiddlePan ul li.contact{width:67px; border-right:1px solid #fff;}
#topMenuMiddlePan ul li.contact a{width:67px; height:16px; display:block; background:#fff; color:#4A4A4A; font:10px/16px "Trebuchet MS",Arial, Helvetica, sans-serif; text-decoration:none; font-weight:bold; text-align:center; text-transform:uppercase;}
#topMenuMiddlePan ul li.contact a:hover{background:#fff; color:rgb(117, 117, 117); text-decoration:none;}

#topMenuRightPan{width:70px; height:16px; float:left; background: 0 0 no-repeat;}

#topMenuRightPan{width:70px; height:16px; float:left; background: 0 0 no-repeat;}
/*----/TOP PANEL----*/
/*----BODY PANEL----*/
#bodyPan{width:683px; position:relative; margin:0 auto; padding:25px 0 0;}
/*----BODY LEFT PANEL----*/
#bodyLeftPan{width:410px; float:left; padding:12px 36px 0 0;}
#bodyLeftPan h2{width:410px; height:30px; background: 100% 70% no-repeat #fff; color:rgb(71, 190, 255); font:28px/28px Georgia, "Times New Roman", Times, serif;}
#bodyLeftPan h2 span{background:#fff;color:#57cfff;}

#bodyLeftPan h3{width:410px; height:30px; background: 100% 70% no-repeat #fff; color:rgb(112, 202, 250); font:28px/28px Georgia, "Times New Roman", Times, serif;}
#bodyLeftPan h3 span{background:rgb(255, 255, 255); color:#55c1ff;}

#bodyLeftPan p{padding:16px 0 0;}
#bodyLeftPan p span{background:#fff; color:#50ffff; font-weight:bold;}

#bodyLeftPan ul{width:10000px; margin:10px 0 0;}
#bodyLeftPan ul li{width:410px; height:20px;}
#bodyLeftPan ul li a{width:390px; height:20px; background: 0 6px no-repeat #fff; color:#1A1A1A; text-decoration:underline; padding:0 0 0 20px;}
#bodyLeftPan ul li a:hover{width:390px; height:20px; background: 0 6px no-repeat #fff; color:#676363; text-decoration:underline;}

#bodyLeftPan p.more{background:#F3F3F3; color:rgb(121, 212, 255); width:410px; height:11px; margin:25px 0; padding:0px; line-height:11px; font-size:11px; }
#bodyLeftPan p.more a{display:block; width:44px; height:11px; background:#fff; color:#003D5C; text-decoration:none; margin:0 0 0 246px; line-height:11px; text-align:center; padding:0px; text-transform:uppercase;}
#bodyLeftPan p.more a:hover{display:block; width:44px; height:11px; background:#E0DEDE; color:#003D5C; text-decoration:none;}

#bodyLeftNextPan{width:410px; clear:both; padding:10px 0 0;}
#bodyLeftPan p.next{background:#F3F3F3; color:rgb(129, 129, 129); width:410px; height:11px; padding:0px; line-height:11px; font-size:11px; clear:both; }
#bodyLeftPan p.next a{display:block; width:44px; height:11px; background:#fff; color:#003D5C; text-decoration:none; margin:0 0 0 246px; line-height:11px; text-align:center; padding:0px; text-transform:uppercase;}
#bodyLeftPan p.next a:hover{display:block; width:44px; height:11px; background:#E0DEDE; color:#003D5C; text-decoration:none;}

#bookcatagories{width:410px; position:relative; margin:0 auto; padding:5px 0 0;}
#namePan{width:156px; float:left; background: 100% 85% no-repeat #fff; color:#4F4F4F; font-size:14px; text-transform:uppercase;}
#nameonePan{width:156px; float:left;}
#nameonePan ul{width:200px;}
#nameonePan ul li{width:140px; height:20px;   color:#03537D; padding:0 0 0 10px;}

#pricePan{width:106px; float:left; background: 100% 85% no-repeat #fff; color:#4F4F4F; font-size:14px; text-transform:uppercase;}
#priceonePan{width:143px; float:left;}
#priceonePan ul{width:150px;}
#priceonePan ul li{width:150px; height:20px; background: 100% 50% no-repeat #fff; color:#00111A; line-height:20px; font-size:12px; font-weight:bold; padding:0 0 0 10px;}

#discountPan{width:126px; float:left; background: 100% 85% no-repeat #fff; color:#4F4F4F; font-size:14px; text-transform:uppercase; padding:0 0 0 12px;}
#discountonePan{width:110px; float:left;}
#discountonePan ul{width:110px;}
#discountonePan ul li{width:100px; height:20px; background: 100% 50% no-repeat #fff; color:#00111A; font-size:12px; font-weight:bold; padding:0 0 0 10px;}

/*----/BODY LEFT PANEL----*/
/*----BODY RIGHT PANEL----*/
#bodyRightPan{position: static; width: 250px; height:200px; float:left;  background:rgb(213, 242, 255); color:#1A1A1A; padding:0 0 0px;}

#bodyRightPan h2{width:100px; height:35px;   color:#00111A; font:24px/34px Georgia, "Times New Roman", Times, serif; margin:6px 8px 16px; padding:0 0 0 20px;}
#bodyRightPan h2 span{ color:#00a6ff;}

#bodyRightPan ul{width:180px; margin:0 40 17px 29px;}
#bodyRightPan ul li{width:180px; height:18px;}


#bodyRightPa{position: relative; top:45px; width:250px;  background:rgb(213, 242, 255); color:#1A1A1A; padding:0 0 50px;}

#bodyRightPa h2{width:100px; height:35px;   color:#00111A; font:24px/34px Georgia, "Times New Roman", Times, serif; margin:3px 7px 10px; padding:0 0 0 20px;}

/*----/BODY RIGHT PANEL----*/
/*----/BODY PANEL----*/
/*----FOOTER PANEL----*/
#footermainPan{ height:80px; background: 0 0 repeat-x rgb(141, 218, 253);  clear:both; padding:1px 0 0;}

#footerPan{width:1330px; position:relative; margin:0 auto; font-family:"Trebuchet MS",Arial, Helvetica, sans-serif}


#footerPan li{float:right; }
#footerPan ul li a{text-align: right; color:#002fff; }